*::before,
*::after,
* {
    box-sizing: border-box;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    right: 0;
}

h2 {
    color: #fff;
}

.x,
.y {
    margin: 18px;
}

.value-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 250px;
    color: #fff;
}

.submit-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    position: fixed;
    right: 0;
}